/*#region font-face*/

@font-face{
    font-family: 'Kosugi Maru';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kosugimaru/v6/0nksC9PgP_wGh21A2KeqGiTq.ttf) format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}

/*#endregion font-face*/

:root{
    --background-primary: #222;
    --background-secondary: #131313;
    --text-primary: #f2f2f2;
    --accent: #39c5bb;

    --a-color: #fce566;

    --font-lat: 'Source Sans Pro';
    --font-jpn: 'UD Digi Kyokasho N-R', 'Kosugi Maru';
    --font-code: 'Fira Code', monospace;
    font-family: var(--font-lat), var(--font-jpn), sans-serif;
    font-size: 16px;
}

body{
    padding: 0;
    margin: 0;
    color: var(--text-primary);
    background-color: var(--background-primary);
}

nav{
    background-color: var(--background-secondary);
}

a{
    color: var(--a-color);
    text-decoration: none;
}

a:hover{
    filter: grayscale(100);
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: underline;
}

code{
    font-family: var(--font-code);
}
