@use './vars' as *
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Round'
@import 'https://floaterest.github.io/font/iosevka.css'

body
    background: $black
    color: $white
    font-family: 'Iosevka Web', monospace
    font-size: $size
// firefox hack
*:focus
    outline: 0
input
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0
    &[type=number]
        -moz-appearance: textfield
    border: 1px solid $white
    font-size: unset
    font-family: unset
    box-sizing: border-box
    background: unset
    color: unset
    padding: 1em
    height: 1em
